In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://github.com/pourushkg/All_Dataset/raw/main/data/train.csv")

In [3]:
df.head()

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

In [4]:
df["cut"].value_counts()

cut
Ideal        92454
Premium      49910
Very Good    37566
Good         11622
Fair          2021
Name: count, dtype: int64

In [5]:
df.sample(10)

,id,carat,cut,color,clarity,depth,table,x,y,z,price
100459,100459,0.54,Ideal,F,VS1,62.0,56.0,5.22,5.24,3.24,1671
13166,13166,0.70,Ideal,G,VS1,61.2,55.0,5.69,5.74,3.50,2583
20524,20524,0.35,Ideal,E,SI1,61.8,54.0,4.53,4.56,2.81,662
2960,2960,0.41,Premium,G,VS1,61.9,58.0,4.78,4.75,2.95,963
22316,22316,1.01,Fair,D,VS2,64.6,55.0,6.31,6.29,4.07,6756
127015,127015,0.31,Ideal,E,SI1,61.2,57.0,4.36,4.39,2.68,565
108564,108564,0.34,Ideal,J,SI2,61.9,56.0,4.50,4.55,2.80,345
117721,117721,1.01,Good,D,VS2,58.1,58.0,6.53,6.56,3.81,5456
140081,140081,0.41,Ideal,G,VVS1,60.9,56.0,4.82,4.84,2.94,1076
97500,97500,1.01,Ideal,H,SI1,61.7,57.0,6.43,6.40,3.95,4871

In [7]:
df.columns

Index(['id', 'carat', 'cut', 'color', 'clarity', 'depth', 'table', 'x', 'y',
       'z', 'price'],
      dtype='object')

In [9]:
df.drop(labels=['id'],axis=1,inplace=True)

In [10]:
df.columns

Index(['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'x', 'y', 'z',
       'price'],
      dtype='object')

In [11]:
df.duplicated().sum()

0

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193573 entries, 0 to 193572
Data columns (total 10 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   carat    193573 non-null  float64
 1   cut      193573 non-null  object
 2   color    193573 non-null  object
 3   clarity  193573 non-null  object
 4   depth    193573 non-null  float64
 5   table    193573 non-null  float64
 6   x        193573 non-null  float64
 7   y        193573 non-null  float64
 8   z        193573 non-null  float64
 9   price    193573 non-null  int64
dtypes: float64(6), int64(1), object(3)
memory usage: 14.8+ MB

In [20]:
cat_columns=df.columns[df.dtypes=="object"]

In [21]:
num_columns=df.columns[df.dtypes!="object"]

In [24]:
df[cat_columns].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193573 entries, 0 to 193572
Data columns (total 3 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   cut      193573 non-null  object
 1   color    193573 non-null  object
 2   clarity  193573 non-null  object
dtypes: object(3)
memory usage: 4.4+ MB

In [23]:
df[num_columns].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193573 entries, 0 to 193572
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   carat   193573 non-null  float64
 1   depth   193573 non-null  float64
 2   table   193573 non-null  float64
 3   x       193573 non-null  float64
 4   y       193573 non-null  float64
 5   z       193573 non-null  float64
 6   price   193573 non-null  int64
dtypes: float64(6), int64(1)
memory usage: 10.3 MB